## Compiled JavaScript files
**/*.js
**/*.js.map

# Typescript v1 declaration files
typings/

node_modules/

# exclude everything in credentials folder except credentials.js
src/credentials/*
!src/credentials/index.ts

# osx specific
.DS_Store